body{
    overflow: hidden;
    height: 100vh;
}
*{
    box-sizing: border-box;
}
span{
    position: relative;
    top: 3px;
}
a.nav-link{
    padding: 5px;
    font-size: small;
}
a.nav-link:hover{
    text-decoration: underline;
}
#app{
    opacity: 65%;
}
#app:hover{
    opacity: 100%;
}
ul.top{
    padding-right: 25px;
    height:7vh;
}
div#cont{
    height: 82vh;
    width: 100%;
}
img#logo{
    height: 100px;
    width: auto;
}
form.mx-auto{
    width: 35%;
    margin-bottom: 20px;
}
span.icon{
    position: relative;
    top: 7px;
    opacity: 50%;
}
ul.bottom{
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    margin: 0;
    color: slategray;
}
div#group{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
}
a#first{
    padding:20px;
}
a.bot{
    padding-left: 20px;
}
a.botr{
    padding-right: 20px;
}
a.bot:hover, a.botr:hover{
    text-decoration: underline;
}
ul.up{
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
ul.low, ul.up{
    height: 35px;
}
